.block1 {
    position: relative;
    height: 57.344vw;
    width: 100%;
    background: url(../assets/images/block1_bg.jpg);
    background-size: 100% 100%;
    @media (max-width: 767px) {
        background-image: none;
        height: auto;
    }
    &__container {
    }

    &__heading {
        position: absolute;
        width: 33.438vw;
        top: 9.375vw;
        left: 40.469vw;
        @media (max-width: 767px) {
            top: 44vw;
            left: 25vw;
            width: 49vw;
        }
    }

    &__logo {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        margin-bottom: 2.656vw;
        .logo_1 {
            width: 1.563vw;
            margin-bottom: 0.625vw;
            @media (max-width: 767px) {
                width: 5vw;
                margin-bottom: 1.2vw;
            }
        }

        .logo_2 {
            width: 5.469vw;
            @media (max-width: 767px) {
                width: 18.469vw;
            }
        }
    }

    &__wrap-form {
        position: absolute;
        left: 9.063vw;
        top: 3.646vw;
        width: 23.698vw;
        @media (max-width: 767px) {
            position: static;
            width: 100%;
            margin: 0 auto;
            padding: 10vw 8%;
            background: radial-gradient(circle, #ffffff70, #000 100%);
        }
    }
    &__img_mb {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__form {
        margin-bottom: 2.083vw;
    }

    &__form-button {
        margin-top: 1.042vw;
        @media (max-width: 767px) {
            margin-top: 2.042vw;
        }
    }

    &__form-title {
        font-family: $SVN-Gotham;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        margin-bottom: 1.15vw;
        font-size: 1.146vw;
        line-height: normal;
        @media (max-width: 767px) {
            margin-bottom: 3.15vw;
            font-size: 4.146vw;
        }
    }

    &__des {
        font-family: $SVN-Gotham-Book;
        font-size: 0.938vw;
        text-align: center;
        color: #fff;
        margin-bottom: 2.604vw;
        line-height: normal;
        @media (max-width: 767px) {
            font-size: 3vw;
            margin-bottom: 5vw;
            margin-top: 4vw;
        }
    }

    &__created-by {
        width: 7.292vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        @media (max-width: 767px) {
            width: 30vw;
        }
    }
}

.block2 {
    position: relative;
    height: 44.792vw;
    width: 100%;
    background: url(../assets/images/block2_bg.jpg);
    background-size: 100% 100%;

    @media (max-width: 767px) {
        height: 51.792vw;
        margin-bottom: 25vw;
    }

    &__container {
        position: absolute;
        text-align: center;
        top: 22.563vw;
        left: 50%;
        @include transform(translateX(-50%));
        @media (max-width: 767px) {
            position: static;
            transform: none;
            padding-top: 30vw;
        }
    }

    &__heading {
        color: #fff;

        span {
            display: block;
            text-transform: uppercase;
        }

        .txt-1 {
            font-family: $UTMGod_sWordR;
            font-size: 3.125vw;
            line-height: 2.917vw;
            @media (max-width: 767px) {
                font-size: 8.125vw;
                line-height: 8.917vw;
            }
        }

        .txt-2 {
            font-size: 1.875vw;
            font-family: $UTMGod_sWordR;
            @media (max-width: 767px) {
                font-size: 4.875vw;
                margin-top: 1vw;
            }
        }
    }

    .btn-submit {
        margin-top: 1.25vw;
        @media (max-width: 767px) {
            margin-top: 2vw;
        }
    }
}

.block3 {
    &__container {
        @include flexbox;
        @media (max-width: 767px) {
            @include flex-direction(column);
            padding: 0 8%;
        }
    }

    &__heading {
        font-family: $UTMGod_sWordR;
        text-transform: uppercase;
        font-size: 2.604vw;
        line-height: 3.021vw;
        margin-bottom: 2.344vw;
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
            font-size: 5.604vw;
            line-height: 7.021vw;
        }
    }

    &__des {
        width: 21.25vw;
        margin-left: auto;
        text-align: right;
        font-size: 0.938vw;
        line-height: normal;
        font-family: $SVN-Gotham-Book;
        @media (max-width: 767px) {
            width: 100%;
            font-size: 3vw;
            text-align: left;
            margin-bottom: 4vw;
        }
    }

    &__left {
        color: #fff;
        width: 32.292vw;
        padding-right: 1.979vw;
        padding-top: 8.594vw;
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__right {
        @include flex(1);
    }
}

.block4 {
    position: relative;
    height: 64.063vw;
    width: 100%;
    background: url(../assets/images/block4_bg.jpg);
    background-size: 100% 100%;
    @media (max-width: 767px) {
        height: auto;
        background-image: none;
    }
    &__img_mb {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__container {
        padding-top: 13.021vw;
        @media (max-width: 767px) {
            margin-bottom: 8vw;
        }
    }

    &__heading {
        @include flexbox;
        @include flex-direction(column);
        color: #fff;
        margin-bottom: 1.302vw;

        span {
            text-transform: uppercase;
            font-family: $UTMGod_sWordR;
        }

        .txt-1 {
            font-size: 1.979vw;
            @media (max-width: 767px) {
                font-size: 4.979vw;
            }
        }

        .txt-2 {
            font-size: 2.865vw;
            line-height: 2.865vw;
            margin-top: 0.521vw;
            @media (max-width: 767px) {
                font-size: 6.865vw;
                line-height: 7.865vw;
                margin-top: 0.521vw;
            }
        }

        .txt-3 {
            font-size: 4.531vw;
            line-height: normal;
            @media (max-width: 767px) {
                font-size: 6.531vw;
            }
        }
    }

    &__top {
        margin-left: 54.948vw;
        @media (max-width: 767px) {
            margin-left: 8%;
        }
    }

    &__bottom {
        @include flexbox;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 8.333vw);
        margin-top: 6.667vw;
        @media (max-width: 767px) {
            @include flex-direction(column);
            width: calc(100% - 16%);
        }
    }

    &__list-item {
        @include flex(1);

        @media (max-width: 767px) {
            margin: 3vw 0;
            margin-bottom: 6vw;
        }

        &:nth-child(2) {
            margin: 0 1.406vw;
            @media (max-width: 767px) {
                margin-bottom: 6vw;
            }
        }

        .img {
        }

        .text {
            @include flexbox;
            color: #fff;
            padding-left: 1.979vw;
            margin-top: 1.563vw;
            @media (max-width: 767px) {
                margin-top: 3.563vw;
            }
        }

        .number {
            font-family: $vanitas;
            font-size: 8.333vw;
            line-height: 7.292vw;
            @media (max-width: 767px) {
                font-size: 16.333vw;
                line-height: 10.292vw;
            }
        }

        .detail {
            font-family: $UTMGod_sWordR;
            text-transform: uppercase;
            font-size: 1.615vw;
            line-height: 1.927vw;
            margin-top: 1.042vw;
            padding-left: 0.26vw;
            @media (max-width: 767px) {
                font-size: 3.615vw;
                line-height: 4vw;
                margin-top: 0;
                padding-left: 2.26vw;
            }
        }
    }
}

.block5 {
    position: relative;
    height: 56.719vw;
    width: 100%;
    background: url(../assets/images/block5_bg.jpg);
    background-size: 100% 100%;
    padding-top: 7.292vw;

    @media (max-width: 767px) {
        height: 75vw;
    }
    &__container {
        width: calc(100% - 150px);
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 84%;
        }
    }

    &__slider {
    }

    &__item {
        position: relative;

        .title {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: $SVN-Gotham;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%));
            bottom: 3.385vw;
            font-size: 1.042vw;
            line-height: normal;
            @media (max-width: 767px) {
                font-size: 3.042vw;
                position: static;
                transform: none;
                max-width: 80%;
                margin: 0 auto;
            }
        }

        .sub-title {
            text-transform: none;
            font-family: $SVN-Gotham-Book;
            font-size: 0.938vw;
            @media (max-width: 767px) {
                font-size: 2.938vw;
            }
        }

        .image {
        }
    }

    .slick-dots {
        bottom: 0;
        @media (max-width: 767px) {
            margin-top: 5vw;
            position: static;
        }

        li {
            margin: 0 0.573vw;
            width: 1.042vw;
            height: 1.042vw;
            @media (max-width: 767px) {
                width: 2.042vw;
                height: 2.042vw;
            }

            button {
                background: #373737;
                border-radius: 50%;
                width: 100%;
                height: 100%;

                @media (max-width: 767px) {
                    padding: 0;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background: #b7b7b7;
                }
            }
        }
    }
}

.block6 {
    position: relative;
    width: 100%;
    padding-top: 3.385vw;
    padding-bottom: 10.156vw;
    @media (max-width: 767px) {
        padding-top: 5.385vw;
        padding-bottom: 14.156vw;
    }

    &::before {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0;
        height: 12.083vw;
        width: 100%;
        background: url(../assets/images/block6_bg.jpg);
        background-size: 100% 100%;
    }

    &__container {
        @include flexbox;
        @media (max-width: 767px) {
            @include flex-direction(column);
            width: 84%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__heading {
        font-family: $UTMGod_sWordR;
        text-transform: uppercase;
        font-size: 2.604vw;
        line-height: 3.021vw;
        margin-bottom: 1.406vw;
        @media (max-width: 767px) {
            font-size: 5.604vw;
            line-height: 7.021vw;
        }
    }

    &__des {
        width: 26.042vw;
        font-size: 0.938vw;
        line-height: normal;
        font-family: $SVN-Gotham-Book;
        @media (max-width: 767px) {
            width: 100%;
            font-size: 3vw;
        }
    }

    &__left {
        @include flex(1);
        padding-right: 1.979vw;
    }

    &__right {
        color: #fff;
        width: 32.292vw;
        padding-top: 11.979vw;
        @media (max-width: 767px) {
            width: 100%;
            padding-top: 5vw;
        }
    }
}

.block7 {
    position: relative;
    width: 100%;
    background: url(../assets/images/block7_bg.jpg);
    background-size: 100% 100%;
    padding-top: 5.885vw;
    padding-bottom: 4.427vw;
    margin-bottom: 3.385vw;

    @media (max-width: 767px) {
        padding-top: 9vw;
        padding-bottom: 9vw;
    }

    &__container {
        width: 61.823vw;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 767px) {
            width: 84%;
        }
    }

    &__title {
        text-align: center;
        color: #fff;
        margin-bottom: 1.354vw;
        font-family: $SVN-Gotham;
        font-size: 1.146vw;
        line-height: normal;
        @media (max-width: 767px) {
            font-size: 4.146vw;
            margin-bottom: 3vw;
        }
    }

    &__form {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }
    &__form-button {
        margin-top: 1.823vw;
        @media (max-width: 767px) {
            margin-top: 2.5vw;
        }
    }

    .form__group {
        width: calc(50% - 7px);
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.block8 {
    background-color: #000;
    padding: 6.771vw 4.01vw 8.854vw 9.74vw;
    padding: 65px 4.01vw 8.854vw 9.74vw;
    @media (max-width: 767px) {
        padding: 8vw 0;
    }
    &__container {
        @include flexbox;
        @media (max-width: 767px) {
            @include flex-direction(column);
            width: 84%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__left {
        margin-right: 3.438vw;
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__right {
    }

    &__slider {
        width: 28.646vw;
        color: #fff;
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .nav {
        @include flex-direction(column);
        @include align-items(flex-end);
        margin-bottom: 2.24vw;
        margin-top: 1.563vw;
        border-bottom: none;
        width: 18.75vw;
        margin-left: auto;
        @media (max-width: 767px) {
            width: 100%;
            margin-left: 0;
        }
    }

    .nav-item {
        width: 100%;
        margin-bottom: -0.052vw;
    }

    .nav-link {
        border: none;
        border-radius: 0;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
        font-family: $UTMGod_sWordR;
        display: block;
        position: relative;
        text-align: right;
        white-space: nowrap;
        padding: 0;
        padding-left: 3.583vw;
        padding-right: 0;
        margin: 0.052vw 0;
        font-size: 2.083vw;
        @media (max-width: 767px) {
            text-align: center;
            padding-left: 0;
            font-size: 4.083vw;
            padding-top: 1.2vw;
            padding-bottom: 1.2vw;
        }

        &.active,
        &:hover {
            color: #fff;
            opacity: 1;
            background-color: #707070;

            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 8.594vw;
                background-color: #707070;
                left: 100%;
                top: 0;
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    .slick-dots {
        position: static;
        margin-top: 1.75vw;
        margin-bottom: 1vw;
        text-align: right;
        @media (max-width: 767px) {
            margin-top: 3.75vw;
            margin-bottom: 3vw;
            text-align: center;
        }

        li {
            margin: 0 0.573vw;
            width: 1.042vw;
            height: 1.042vw;

            @media (max-width: 767px) {
                width: 2.042vw;
                height: 2.042vw;
            }

            button {
                width: 100%;
                height: 100%;
                background-color: #373737;
                border-radius: 50%;
                @media (max-width: 767px) {
                    padding: 0;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: #b7b7b7;
                }
            }
        }
    }

    /* the slides */
    .slick-slide {
        height: 16.406vw;
        margin: 0 0.365vw;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        @media (max-width: 767px) {
            width: 100%;
            height: 45vw;
        }
        img{
            width: 170%;
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            transition: transform 0.2s ease-in-out;
        }
    }

    /* the parent */
    .slick-list {
        margin: 0 -0.365vw;
        display: flex;
    }

    .slick-track {
        @include flexbox;
        @include align-items(center);

        .slick-slide {
            background-color: #191a1c;
            @include flexbox;
            @include align-items(center);
        }
    }

    /* bootstrap hack: fix content width inside hidden tabs */
    .block8__sliders > .block8__slider {
        display: block;
        /* undo display:none          */
        height: 0;
        /* height:0 is also invisible */
        overflow: hidden;
        /* no-overflow                */
    }

    .block8__sliders > .show {
        height: auto;
        /* let the content decide it  */
    }

    /* bootstrap hack end */



}

.fancybox-slide--image .fancybox-content {
    animation-timing-function:ease !important;
}

// .fancybox-slide--image .fancybox-content{
//     transform: none !important;
// }

.block9 {
    padding-top: 6vw;
    padding-bottom: 6.771vw;
    position: relative;
    width: 100%;
    background-color: #000;

    @media (max-width: 767px) {
        height: auto;
        padding-bottom: 7vw;
        padding-top: 7vw;
    }

    &__container {
        margin: 0 auto;
        // width: calc(100% - 300px);
        width: calc(100% - 15.625vw);
    }

    .big_heading {
        @include flexbox;
        @include align-items(end);
        width: 30.469vw;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 767px) {
            width: 100%;
            padding-left: 7vw;
        }

        * {
            display: inline-block;
            color: #fff;
            font-family: $UTMGod_sWordR;
        }

        span {
            @include flexbox;
            @include flex-direction(column);
            font-size: 2.604vw;
            text-transform: uppercase;
            text-align: left;
            @media (max-width: 767px) {
                font-size: 6.604vw;
            }

            &:nth-child(2) {
                padding-left: 5.729vw;
                @media (max-width: 767px) {
                    padding-left: 7vw;
                }
            }
        }

        i {
            font-size: 1.667vw;
            padding-top: 0.104vw;
            text-transform: uppercase;
            font-style: normal;
            margin-top: auto;
            margin-left: 1.302vw;
            margin-bottom: 0.104vw;

            @media (max-width: 767px) {
                font-size: 3.667vw;
            }
        }

        &__top {
            line-height: normal;
        }
    }

    &__content {
        @include flexbox;
        @include justify-content(flex-end);
        @include flex-wrap(wrap);
        // margin-left: 60px;
        // margin-top: 30px;
        margin-left: 3.125vw;
        margin-top: 1.563vw;

        @media (max-width: 767px) {
            margin-left: 0;
            margin-top: 7vw;
        }

        &--item {
            width: calc((100% / 3) - 4.167vw);
            margin: 0 2.083vw;
            text-align: right;

            @media (max-width: 767px) {
                width: 100%;
                margin: 0 auto;
                text-align: left;
                margin-bottom: 5vw;
            }

            .title {
                line-height: normal;
                @include flexbox;
                @include align-items(flex-end);
                @include justify-content(space-between);
            }

            .no {
                color: #585858;
                margin-bottom: 1.042vw;
                font-size: 2.083vw;
                font-family: $SVN-Gotham-Bold;

                @media (max-width: 767px) {
                    font-size: 5vw;
                }
            }

            .percent {
                color: #fff;
                font-size: 8.333vw;
                font-family: $vanitas;

                @media (max-width: 767px) {
                    font-size: 10vw;
                }
            }

            .detail {
                color: #fff;
                font-family: $SVN-Gotham-Book;
                line-height: normal;
                font-size: 0.938vw;

                @media (max-width: 767px) {
                    font-size: 3vw;
                    text-align: justify;
                }
            }
        }
    }
}

.block10 {
    &__container {
        width: 88.698vw;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 767px) {
            width: 84%;
        }
    }
    &__heading {
        width: 33.594vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -0.625vw;
        @media (max-width: 767px) {
            width: 48.594vw;
            margin-bottom: 0;
        }
    }
    &__slider {
        display: flex !important;
        margin: 0 -1.042vw;
        cursor: pointer;
        @media (max-width: 767px) {
            @include flex-wrap(wrap);
        }
        .item {
            margin: 1.042vw;
            width: 22.656vw;
            @include flexbox;
            @include flex-direction(column);

            @media (max-width: 767px) {
                width: 47%;
                margin: 0 1.5%;
            }
            .img {
                overflow: hidden;
                position: relative;
                cursor: pointer;
                // display: block;
                height: 86%;
                background-color: #191a1c;
                @include flexbox;
                @include align-items(center);
                @include align-items(center);
                @media (max-width: 767px) {
                    height: 50vw;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 0;
                    opacity: 0.2;
                    left: 0;
                    top: 0;
                    background: radial-gradient(circle, #ffffff00 0%, #ffffff 100%);
                    @include transition(all 0.3s ease);
                }

                &:hover {
                    &::before {
                        height: 100%;
                    }
                }
            }
            &.bigger {
                width: 39.583vw;
                @media (max-width: 767px) {
                    width: 100%;
                    margin-top: 4vw;
                }
            }
            .des {
                font-family: $SVN-Gotham-Book;
                color: #fff;
                font-size: 0.938vw;
                margin-top: 1.563vw;
                width: 100%;
                display: block;
                line-height: normal;

                @media (max-width: 767px) {
                    font-size: 2.7vw;
                    margin-top: 2.563vw;
                }
            }
        }
    }

    .slick-track {
        @include flexbox;
    }

    .slick-dots {
        // margin-top: 40px;
        margin-top: 1.563vw;
        bottom: 0;
        position: static;
        @media (max-width: 767px) {
            margin-top: 6.563vw;
            margin-bottom: 4vw;
        }

        li {
            margin: 0 0.573vw;
            width: 1.042vw;
            height: 1.042vw;

            @media (max-width: 767px) {
                width: 2.042vw;
                height: 2.042vw;
            }
            button {
                background: #373737;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                @media (max-width: 767px) {
                    padding: 0;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background: #b7b7b7;
                }
            }
        }
    }
}

.block11 {
    position: relative;
    width: 100%;
    height: 33.385vw;
    background: url(../assets/images/blockend_bg.jpg);
    background-size: 100% 100%;
    color: #fff;

    @media (max-width: 767px) {
        padding-bottom: 10vw;
        height: auto;
        background: url(../assets/images/bg_end_mb.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center bottom;
    }

    a {
        color: inherit;
    }

    &__container {
        @include flexbox;
        margin: 0 auto;
        padding-top: 5.208vw;
        margin-left: 19.01vw;

        @media (max-width: 767px) {
            @include flex-direction(column);
            margin-left: 0;
        }
    }

    &__wrap {
    }

    &__left {
        @include flexbox;
        @include flex-direction(column);
        font-size: 1.302vw;
        line-height: normal;
        margin-top: 2.563vw;

        @media (max-width: 767px) {
            order: 2;
            font-size: 3.5vw;
            margin-top: 9vw;
        }
    }
    &__info {
        @include flexbox;
        @media (max-width: 767px) {
            @include flex-direction(column);
            @include align-items(center);
        }
    }
    &__right {
        width: 23.698vw;
        position: absolute;
        right: 20.417vw;
        margin-top: 3.5vw;

        @media (max-width: 767px) {
            position: static;
            width: 84vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }

        &-title {
            font-family: $SVN-Gotham;
            text-align: center;
            line-height: 1.3;
            margin-bottom: 1.242vw;
            font-size: 1.146vw;

            @media (max-width: 767px) {
                margin-bottom: 3.15vw;
                font-size: 4.146vw;
                margin-top: 5vw;
            }
        }
    }

    &__logo {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        margin-right: 2.865vw;
        width: 8.385vw;
        @media (max-width: 767px) {
            width: 20vw;
            margin: 0;
        }
    }
    &__logo-swancity {
        width: 8.333vw;
        margin-left: 8.177vw;
        margin-top: 2.344vw;
        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-top: 4vw;
            max-width: 180px;
        }
    }

    &__contact {
        margin-top: 1.102vw;

        .name {
            font-family: $UTMGod_sWordR;
            margin-bottom: 1.198vw;
            font-size: 2.083vw;
            @media (max-width: 767px) {
                font-size: 5vw;
            }
        }

        .address {
            font-size: 0.942vw;
            font-family: $SVN-Gotham;
            @media (max-width: 767px) {
                font-size: 3vw;
            }

            p {
                margin-bottom: 1.102vw;
                line-height: normal;
            }
        }
    }

    &__form {
    }

    &__form-group {
        margin-bottom: 0.781vw;
    }

    &__form-control {
        border: none;
        background-color: transparent;
        border-bottom: 0.052vw solid #091829;
        height: 3.125vw;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        width: 100%;

        @media (max-width: 767px) {
            padding-left: 2.5vw;
            font-size: 3.5vw;
            height: 9.125vw;
        }
    }

    &__form-button {
        margin-top: 1.2vw;

        @media (max-width: 767px) {
            margin-top: 3vw;
        }
    }
}
