$color_yellow: #f1c85f;

body {
    font-size: 0.833vw;
    padding: 0;
    background: #000;
}

a {
    outline: none;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

button {
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.fancybox-stage{
    @media (max-width: 767px) {
        width: 95%;
        margin: 0 auto;
    }
}

.modal-backdrop.show {
    opacity: 0.7 !important;
}

.modal {
    padding: 0 !important;
}

.popup {
    .modal-dialog {
        width: 65.885vw;
        max-width: 100%;
        height: 96%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        @include flex_center;

        @media (max-width: 767px) {
            width: 80%;
        }
    }

    .modal-content {
        border: 0;
        border-radius: 0;
    }

    .modal-body {
        padding: 0;
    }

    &__content {
        @include flexbox;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }

    &__wrap {
        &.left {
            width: 51.376%;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &.right {
            flex: 1;
            background-image: url("../assets/images/popup_form_bg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 1.823vw;
            @include flex_center;
            @include flex-direction(column);

            @media (max-width: 767px) {
                padding: 4.823vw;
            }
        }
    }

    &__title {
        text-align: center;
        line-height: 1.3;
        margin-bottom: 1.342vw;
        font-size: 1.3vw;
        color: #fff;

        @media (max-width: 767px) {
            font-size: 4vw;
            margin-top: 7vw;
            margin-bottom: 3vw;
        }
    }

    &__form,
    form {
        width: 100%;
    }

    &__form-group {
        margin-bottom: 0.781vw;

        @media (max-width: 767px) {
            margin-bottom: 2.302vw;
        }
    }

    &__form-control {
        width: 100%;
        background: #ffffff73;
        outline: none;
        border: none;

        height: 3.125vw;
        border-radius: 0.521vw;

        @media (max-width: 767px) {
            height: 9.125vw;
        }
    }

    .close {
        opacity: 1;
        position: absolute;
        font-size: 2.667vw;
        line-height: normal;
        right: 1.042vw;
        top: 1.042vw;
        color: #ffff;
        cursor: pointer;
        font-family: $SVN-Gotham-Light;

        &:hover {
            @include transform(scale(1.1));
        }

        @media (max-width: 767px) {
            font-size: 5.667vw;
            right: 3.042vw;
            top: 3.042vw;
        }
    }
}

.news {
    .modal-dialog {
        width: 65.625vw;
        max-width: 100%;
        height: 85%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        @include flex_center;
        overflow-y: auto;
        margin-top: 1%;

        @media (max-width: 767px) {
            width: 80%;
            margin: 10% auto;
        }
    }

    .modal-content {
        border: 0;
        border-radius: 0;
        background-color: #efd5b1;
        padding: 2.083vw 1.042vw 1.563vw 2.604vw;
        background-image: url("../assets/images/popup_news_bg.jpg");

        @media (max-width: 767px) {
            padding: 10.083vw 3.042vw 7.563vw 3.604vw;
        }
    }

    .modal-body {
        padding: 0;
    }

    &__content {
        @include flexbox;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }

    &__wrap {
        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &.left {
            width: 22.292vw;
            margin-top: 1vw;
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &.right {
            flex: 1;
            padding: 0.781vw;
            font-size: 0.729vw;
            color: #fff;

            @media (max-width: 767px) {
                padding: 2vw 0;
                font-size: 3vw;
            }
        }
    }

    &__title {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: normal;
        font-size: 1.771vw;
        margin-bottom: 0.781vw;
        font-family: $UTMGod_sWordR;

        @media (max-width: 767px) {
            font-size: 4.5vw;
            margin-bottom: 3vw;
        }
    }

    &__content {
        height: 35.417vw;
        overflow-y: auto;

        @media (max-width: 767px) {
            height: 65vh;
            padding-right: 1vw;
        }

        &::-webkit-scrollbar-track {
            background-color: #555555;
            border-radius: 0.521vw;
        }

        &::-webkit-scrollbar {
            width: 0.781vw;
            background-color: #555555;
            border-radius: 0.521vw;

            @media (max-width: 767px) {
                width: 2vw;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 0.521vw;
            border: 0.208vw solid #555555;
        }
    }

    .close {
        opacity: 1;
        position: absolute;
        font-size: 2.667vw;
        right: 0.742vw;
        top: 0.542vw;
        color: #fff;
        cursor: pointer;
        font-family: $SVN-Gotham-Light;
        z-index: 1;

        &:hover {
            @include transform(scale(1.1));
        }

        @media (max-width: 767px) {
            font-size: 5.667vw;
            right: 3.042vw;
            top: 3.042vw;
        }
    }
}

.social {
    @include flexbox;
    @include flex-direction(column);
    position: fixed;
    z-index: 3;
    left: 1.302vw;
    bottom: 1.302vw;

    @media (max-width: 767px) {
        left: 35px;
        bottom: 35px;
        display: none;
    }

    &__item {
        @include flex_center;
        //@include transition(all 0.3s ease);
        border-radius: 50%;
        width: 4.167vw;
        height: 4.167vw;
        margin: 0.625vw 0;
        background-position: center center;
        background-size: cover;
        // background-image: url("../assets/images/social_bg.png");

        @media (max-width: 767px) {
            width: 12vw;
            height: 12vw;
            margin: 4px;
        }

        &:hover {
            background-color: #bb9348;
            background-image: none;
        }

        img {
            width: 100%;
            @include transition(all 0.3s ease);
        }
    }

    .phone {
        img {
            width: 2vw;
            animation: zoomInOut 0.7s infinite;

            @include transition(all 0.2s ease);

            @media (max-width: 767px) {
                width: 3vw;
            }
        }
    }

    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .yt {
        img {
            width: 2.344vw;

            @media (max-width: 767px) {
                width: 6.344vw;
            }
        }
    }

    .fb {
        img {
            width: 1.302vw;
            animation: zoomInOut 0.7s infinite;

            @include transition(all 0.2s ease);

            @media (max-width: 767px) {
                width: 3.302vw;
            }
        }
    }

    .btn_baogia {
        width: 2.865vw;
        margin: 0 auto;
        margin-bottom: 0.8vw;
        cursor: pointer;
        //background-color: red;
        border-radius: 1.042vw;
        position: relative;
        overflow: hidden;

        &:before {
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.44021358543417366) 0%,
                rgba(255, 255, 255, 1) 100%
            );
            content: "";
            height: 125%;
            left: -154%;
            opacity: 0.2;
            position: absolute;
            top: -1.927vw;
            @include transform(rotate(15deg));
            width: 2.396vw;
            z-index: 1;

            animation: LightRun 1.3s infinite;
            @include transition(all 0.2s ease);
        }

        &:hover {
            &:before {
                left: 175%;
                @include transition(all 550ms cubic-bezier(0.19, 1, 0.22, 1));
            }
        }
    }

    @keyframes LightRun {
        0% {
            left: -154%;
        }

        50% {
            left: 175%;
        }

        100% {
            left: -154%;
        }
    }
}

.form {
    &__group {
        margin-bottom: 0.625vw;
    }

    &__control {
        width: 100%;
        height: 3.125vw;
        padding: 1.042vw;
        border-radius: 0.26vw;
        background-color: #ffffff66;
        color: #ffffff;
        font-size: 0.938vw;
        font-family: $SVN-Gotham-Book;
        border: none;
        @media (max-width: 767px) {
            line-height: 9.125vw;
            height: 9.125vw;
            margin-bottom: 1.5vw;
            padding-left: 1.5vw;
            font-size: 3.5vw;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
        }

        @mixin placeholder {
            color: #ffffff;
            font-size: 0.938vw;
            font-family: $SVN-Gotham-Book;
            @media (max-width: 767px) {
                font-size: 3.5vw;
            }
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholder;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholder;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholder;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholder;
        }
    }

    &__button {
    }
}

.btn-submit {
    background-image: url("../assets/images/btn_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: -1px;
    background-position-y: -1px;
    color: #071421;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    border: none;
    font-weight: bold;
    border-radius: 0.26vw;
    height: 3.125vw;
    line-height: 3.125vw;
    width: 13.542vw;
    font-size: 1.042vw;
    font-family: $SVN-Gotham-Book;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) {
        font-size: 3vw;
        width: 39vw;
        height: 9vw;
        line-height: 9vw;
    }

    &[disabled="disabled"] {
        cursor: not-allowed;
    }

    &:hover {
        background-image: url("../assets/images/btn_bg_hover.png");
    }
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 9999;
    width: 31.25vw;
    padding: 1.04167vw;
    background: rgba(255, 255, 255, 0.8);
    display: none;

    @media (max-width: 767px) {
        max-width: 400px;
        width: 60vw;
        padding: 2vw;
    }

    &.active {
        display: block;
    }

    &__content {
    }

    &__title {
        font-family: $SVN-Gotham-Book;
        font-size: 1.65vw;
        color: #000;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 4vw;
        }
    }

    .btn-submit {
        margin-top: 1vw;
    }
}

.loading {
    background: #f9f9f980;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease);
    @include flex_center;
    @include transform(translate(-50%, -50%));

    &.active {
        z-index: 999;
        visibility: visible;
        opacity: 1;
    }

    img {
        position: absolute;
        width: 100%;
        width: 12vw;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        @media (max-width: 767px) {
            width: 30vw;
        }
    }
}

.menu {
    position: fixed;
    z-index: 2;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 1.042vw;
    padding-bottom: 1.042vw;
    padding-right: 1.771vw;

    @media (max-width: 767px) {
        padding: 3vw;
        padding-left: 0;
        height: 13vw;
    }

    &::before {
        content: "";
        width: 30%;
        height: 100%;
        background-image: url("../assets/images/menu_bg.png");
        background-size: 100% auto;
        background-position: right center;
        position: absolute;
        right: 0;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__text_toggle {
        @include flexbox;
        @include align-items(center);
        cursor: pointer;
        z-index: 1;

        .text {
            color: #fff;
            text-transform: uppercase;
            margin-right: 0.729vw;
            font-size: 0.938vw;
            letter-spacing: 1px;
            font-family: $SVN-Gotham-Book;

            @media (max-width: 767px) {
                font-size: 3.5vw;
                margin-right: 1vw;
            }
        }

        .lines {
            @include flexbox;
            @include flex-direction(column);

            @media (max-width: 767px) {
                margin-top: 0.2vw;
            }

            .line {
                background-color: #fff;
                transition: all 0.2s ease;
                height: 0.104vw;
                width: 1.406vw;
                margin-bottom: 0.26vw;

                @media (max-width: 767px) {
                    height: 0.625vw;
                    width: 5.625vw;
                    margin-bottom: 0.5vw;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        // &.active {
        //     .line_2 {
        //         display: none;
        //     }

        //     .line_3 {
        //         @include transform(rotate(-45deg) translateY(-0.156vw) translateX(0.052vw));
        //     }

        //     .line_1 {
        //         @include transform(rotate(45deg) translateY(0.156vw) translateX(0.104vw));
        //         @media (max-width: 767px) {
        //             @include transform(rotate(45deg) translateY(0.55vw) translateX(0.75vw));
        //         }
        //     }
        // }
    }
    &__toggle_close {
        font-family: $SVN-Gotham-Light !important;
        font-size: 2.604vw !important;
        color: #fff;
        position: absolute !important;
        right: 1.302vw;
        top: 3.042vw;
        padding: 0 !important;
        margin: 0 !important;
        transform: none !important;
        line-height: normal;
        @include transition(all 0.3s ease);
        @media (max-width: 767px) {
            font-size: 6.5vw !important;
            right: 3.302vw;
        }
        &::before {
            display: none;
        }
    }
    &__absolute {
        position: fixed;
        right: 0;
        z-index: -1;
        text-align: right;
        padding: 0;
        padding-right: 1.042vw;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease);
        @include flex-direction(column);
        @include flexbox;
        width: 0;
        top: 0;
        height: 100%;
        background: #000;
        padding-top: 10.417vw;

        @media (max-width: 767px) {
            height: 100% !important;
            @include flexbox;
            @include flex-direction(column);
        }

        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 2;
            width: 21.875vw;
            @media (max-width: 767px) {
                width: 75%;
            }
            a {
                text-align: left;
                transition: all 0.2s ease;
                transform: translateX(0);
                &:nth-child(2) {
                    transition-delay: 0.1s;
                }
                &:nth-child(3) {
                    transition-delay: 0.2s;
                }
                &:nth-child(4) {
                    transition-delay: 0.3s;
                }
                &:nth-child(5) {
                    transition-delay: 0.4s;
                }
                &:nth-child(6) {
                    transition-delay: 0.5s;
                }
                &:nth-child(7) {
                    transition-delay: 0.6s;
                }
                &:nth-child(8) {
                    transition-delay: 0.7s;
                }
                &:nth-child(9) {
                    transition-delay: 0.8s;
                }
            }
        }
        a {
            transform: translateX(100%);
            text-align: right;
            position: relative;
            margin: 0 0.625vw;
            font-size: 1.354vw;
            color: #fff;
            text-decoration: none;
            z-index: 1;
            padding-left: 7.656vw;
            text-align: left;
            text-transform: uppercase;
            font-family: $UTMGod_sWordR;
            margin-bottom: 1.146vw;
            margin-left: 0;
            @include transition(all 0.3s ease);
            &::before {
                position: absolute;
                content: "";
                height: 0.052vw;
                width: 6.354vw;
                background-color: transparent;
                left: 0;
                top: 1.042vw;
                @media (max-width: 767px) {
                    top: 3.042vw;
                }
            }
            @media (max-width: 767px) {
                font-size: 4.5vw;
                margin: 2vw 0;
            }

            &.active,
            &:hover {
                position: relative;
                &::before {
                    background-color: #fff;
                }
            }
        }
    }
}
