$UTMGod_sWordBold: "UTMGod_sWordBold";
$UTMGod_sWordBoldItalic: "UTMGod_sWordBoldItalic";
$UTMGod_sWordR: "UTMGod_sWordR";
$UTMGod_sWordRItalic: "UTMGod_sWordRItalic";
$UVFVanitasRegular: "UVFVanitasRegular";


@font-face {
    font-family: "UTMGod_sWordBold";
    src: url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.eot");
    src: url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.svg#UTMGod_sWordBold") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordBoldItalic";
    src: url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.eot");
    src: url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.svg#UTMGod_sWordBoldItalic") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordR";
    src: url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.eot");
    src: url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.svg#UTMGod_sWordR") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordRItalic";
    src: url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.eot");
    src: url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.svg#UTMGod_sWordRItalic") format("svg");
}

@font-face {
    font-family: "UVFVanitasRegular";
    src: url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.eot");
    src: url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.eot") format("embedded-opentype"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.woff2") format("woff2"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.woff") format("woff"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.ttf") format("truetype"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.svg#UVFVanitasRegular") format("svg");
}