$UTMGod_sWordBold: "UTMGod_sWordBold";
$UTMGod_sWordBoldItalic: "UTMGod_sWordBoldItalic";
$UTMGod_sWordR: "UTMGod_sWordR";
$UTMGod_sWordRItalic: "UTMGod_sWordRItalic";
$UVFVanitasRegular: "UVFVanitasRegular";


$SVN-Gotham: "SVN-Gotham";
$SVN-Gotham-Book: "SVN-Gotham-Book";
$SVN-Gotham-Bold: "SVN-Gotham-Bold";
$SVN-Gotham-Light: "SVN-Gotham-Light";

$vanitas: "vanitas";


@font-face {
    font-family: "vanitas";
    src: url("../assets/fonts/vanitas/vanitas.eot");
    src: url("../assets/fonts/vanitas/vanitas.eot") format("embedded-opentype"),
        url("../assets/fonts/vanitas/vanitas.woff2") format("woff2"),
        url("../assets/fonts/vanitas/vanitas.woff") format("woff"),
        url("../assets/fonts/vanitas/vanitas.ttf") format("truetype"),
        url("../assets/fonts/vanitas/vanitas.svg#UTMGod_sWordBold") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordBold";
    src: url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.eot");
    src: url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordBold/UTMGod_sWordBold.svg#UTMGod_sWordBold") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordBoldItalic";
    src: url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.eot");
    src: url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordBoldItalic/UTMGod_sWordBoldItalic.svg#UTMGod_sWordBoldItalic") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordR";
    src: url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.eot");
    src: url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordR/UTMGod_sWordR.svg#UTMGod_sWordR") format("svg");
}

@font-face {
    font-family: "UTMGod_sWordRItalic";
    src: url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.eot");
    src: url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.eot") format("embedded-opentype"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.woff2") format("woff2"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.woff") format("woff"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.ttf") format("truetype"),
        url("../assets/fonts/UTMGod_sWordRItalic/UTMGod_sWordRItalic.svg#UTMGod_sWordRItalic") format("svg");
}

@font-face {
    font-family: "UVFVanitasRegular";
    src: url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.eot");
    src: url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.eot") format("embedded-opentype"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.woff2") format("woff2"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.woff") format("woff"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.ttf") format("truetype"),
        url("../assets/fonts/UVFVanitasRegular/UVFVanitasRegular.svg#UVFVanitasRegular") format("svg");
}

@font-face {
    font-family: "SVN-Gotham";
    src: url("../assets/fonts/SVN-Gotham-Regular/SVN-Gotham.eot");
    src: url("../assets/fonts/SVN-Gotham-Regular/SVN-Gotham.eot") format("embedded-opentype"),
        url("../assets/fonts/SVN-Gotham-Regular/SVN-Gotham.woff") format("woff"),
        url("../assets/fonts/SVN-Gotham-Regular/SVN-Gotham.ttf") format("truetype"),
        url("../assets/fonts/SVN-Gotham-Regular/SVN-Gotham.svg#SVN-Gotham") format("svg");
}

@font-face {
    font-family: "SVN-Gotham-Book";
    src: url("../assets/fonts/SVN-Gotham-Book/SVN-Gotham-Book.eot");
    src: url("../assets/fonts/SVN-Gotham-Book/SVN-Gotham-Book.eot") format("embedded-opentype"),
        url("../assets/fonts/SVN-Gotham-Book/SVN-Gotham-Book.woff") format("woff"),
        url("../assets/fonts/SVN-Gotham-Book/SVN-Gotham-Book.ttf") format("truetype"),
        url("../assets/fonts/SVN-Gotham-Book/SVN-Gotham-Book.svg#SVN-Gotham-Book") format("svg");
}

@font-face {
    font-family: "SVN-Gotham-Bold";
    src: url("../assets/fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.eot");
    src: url("../assets/fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.eot") format("embedded-opentype"),
        url("../assets/fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.woff") format("woff"),
        url("../assets/fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.ttf") format("truetype"),
        url("../assets/fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.svg#SVN-Gotham-Bold") format("svg");
}
@font-face {
    font-family: "SVN-Gotham-Light";
    src: url("../assets/fonts/SVN-Gotham-Light/SVN-Gotham-Light.eot");
    src: url("../assets/fonts/SVN-Gotham-Light/SVN-Gotham-Light.eot") format("embedded-opentype"),
        url("../assets/fonts/SVN-Gotham-Light/SVN-Gotham-Light.woff") format("woff"),
        url("../assets/fonts/SVN-Gotham-Light/SVN-Gotham-Light.ttf") format("truetype"),
        url("../assets/fonts/SVN-Gotham-Light/SVN-Gotham-Light.svg#SVN-Gotham-Bold") format("svg");
}